EMAIL_USER=rpmservice2026@gmail.com

EMAIL_PASS=sdwyygqseunduzvz

# ===============================
# Configuración de Base de Datos
# ===============================
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_mysql
DB_NAME=rpm_market
DB_PORT=3306

SESSION_SECRET=tu_secreto_super_seguro_aqui_cambiar_en_produccion

PORT=3000
NODE_ENV=development
FRONTEND_URLS=http://localhost:5500,http://127.0.0.1:5500
